.download {
  min-height: 271px;
  color: @light-text;
  background-color: @dark-dark-grey;
  
  @media (min-width: @mobile) {
    width: 360px;
    background: none;
  }
  
  @media (min-width: @tablet) {
    width: 320px;
    margin-top: 24px;
    margin-left: 10%;
  }
  
  
  &__logo-wrap {
    width: 320px;
    min-height: 70px;
    margin: 0 auto;
    margin-top: 28px;
    background-image: url("../img/apple-logo.svg"),
    url("../img/android-logo.svg"),
    url("../img/microsoft-logo.svg");
    background-position: 58px 4px, 140px 12px, 219px 16px;
    background-repeat: no-repeat;
    
    @media (min-width: @mobile) {
      margin: 0;
      margin-top: 42px;
      margin-left: 30px;
    }
    
    @media (min-width: @tablet) {
      margin-top: 64px;
      margin-left: 0;
    }

  }
  
  &__button-wrap {
    padding-top: 28px;
    
  }
  
  &__button {
    display: block;
    width: 275px;
    min-height: 35px;
    padding-top: 14px;
    margin: 0 auto;
    
    text-decoration: none;
    text-align: center;

    color: @light-text;
    font-size: @title-font;
    font-weight: 700;
    line-height: @low-line;

    border: 3px solid @light-fill;
    border-radius: 30px;

    @media (min-width: @tablet) {
      width: 294px;
      font-size: @d-title-font;
    }
  }
  
  &__text {
    width: 240px;
    font-size: @base-font;
    line-height: @base-line;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    padding-top: 12px;
    
    @media (min-width: @mobile) {
      width: 300px;
      padding-top: 26px;
      font-size: @title-font;
      margin: 0;
      margin-left: 40px;
    }
    
    @media (min-width: @tablet) {
      margin-left: 10px;
      padding-top: 46px;
    }
    
  }
    
}
