.blog-page-header {
  min-height: 195px;
  max-width: @desktop;
  margin: 0 auto;

  background-color: @dark-dark-grey;
  background-image: url("../img/background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/background-mobile@2x.jpg");
  }
  
  @media (min-resolution: 2.25dppx) {
    background-image: url("../img/background-mobile@3x.jpg");
  }
  
  @media (min-width: @mobile) {
    min-height: 376px;
    background-image: url("../img/background-tablet@1x.jpg");
    
    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/background-tablet@2x.jpg");
    }
  }
  
  @media (min-width: @tablet) {
    min-height: 394px;
    background-image: url("../img/background-fullsize.jpg");
    background-size: 100%;
  }
  
  @media (min-width: @desktop) {
    background: none;
  }
  
  &-wide-wrap {
    background: none;
    
    @media (min-width: @desktop) {
      background-color: @dark-dark-grey;
      background-image: url("../img/background-fullsize.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      
    }
  }
  
  &__text {
    width: 280px;
    margin: 0;
    .large-text;
    color: @light-text;
    padding-top: 32px;
    
    @media (min-width: @mobile) {
//      width: 600px;
      width: 85.714%;
      padding-top: 70px;
      font-size: @w-large-font;
      line-height: @w-large-line;
    }
    
    @media (min-width: @fix-tablet) {
      font-size: @w-page-title-font;
      line-height: @w-page-title-line;
    }
    
    @media (min-width: @tablet) {
      width: 780px;
//      width: 65%;
      padding-top: 63px;
    }
  }
  
}

.blog-page-content-wrap {
  max-width: @desktop;
  margin: 0 auto;
  padding: 0;
  background-color: @light-fill;
  padding-top: 11px;
  
  @media (min-width: @mobile) {
    padding-top: 48px;
  }
  
  @media (min-width: @tablet) {
    padding-top: 54px;
  }
  
}

.blog-items {

  width: 280px;
  margin: 0 auto;
  margin-bottom: 65px;
  background-color: @light-fill;
  
  @media (min-width: @mobile) {
    width: 88.57%;
    margin-bottom: 78px;
  }
  
  @media (min-width: @tablet) {
    width: 80%;
    margin-bottom: 63px;
  }
  
  &__pagination {
    position: relative;
    margin: 0;
    margin-top: 49px;
    padding: 0;
    font-size: 0;
    list-style: none;
    
    @media (min-width: @mobile) {
      width: 80.645%;
      margin: 0 auto;
      margin-top: 57px;
    }
    
    @media (min-width: @tablet) {
      width: 85.417%;
      margin-top: 92px;
    }
    
    &::before {
      display: none;
      
      @media (min-width: @mobile) {
        position: absolute;
        content: 'СТР.';
        display: block;
        top: 15px;
        left: -60px;
        color: @text-color;
        font-size: @title-font;
        line-height: @higher-line;
        font-weight: 700;
        text-transform: uppercase;
      }
      
    }

    &-item {
      display: inline-block;
      width: 63px;
      height: 34px;
      margin-right: 9px;

      font-size: @title-font;
      line-height: @higher-line;
      font-weight: 700;
      vertical-align: top;
      text-align: center;
      
      @media (min-width: @mobile) {
        margin-right: 11px;
      }

      &:last-child {
        margin-right: 0;
      }
      
      &-link {
        display: block;
        padding: 14px 24px;
        text-decoration: none;
        color: @text-color;
        border: 2px solid @border-light-grey;
        
        &:hover {
          border-color: @dark-grey;
        }
        
        &--active {
          border-color: @pink-color;
          
          &:hover {
            border-color: @pink-color;
          }
        }
      }
      
    }
    
  }
  

}

.item-preview {
  width: 280px;
  margin: 0 auto;
  padding-top: 23px;

  @media (min-width: @mobile) {
    width: 80.645%;
    padding-top: 45px;
  }
  
  @media (min-width: @tablet) {
    width: 85.417%;
    padding-top: 50px;
  }

  & a {
    text-decoration: none;
  }
  
  &__title {
    position: relative;
    margin: 0;
    color: @text-color;
    font-size: @title-font;
    line-height: @blog-line;
    font-weight: 700;
    text-decoration: none;
    
    @media (min-width: @mobile) {
      font-size: @blog-title;
      line-height: @higher-line;
    }
    
    &:hover {
      color: @pink-color;
      text-decoration: underline;
    }
    
    &:active {
      color: @pink-light;
      text-decoration: none;
    }
    
    &::before {
      display: none;
      
      @media (min-width: @mobile) {
        position: absolute;
        content: '';
        display: block;
        top: 5px;
        left: -58px;
        width:28px;
        height: 26px;
        background-image: url("../img/blog-post-icon.svg");
        background-repeat: no-repeat;
      }
    }
    
  }
  
  &__date {
    padding-top: 2px;
    color: @pink-color;
    font-size: @small-font;
    line-height: @blog-line;
    font-weight: 400;
    text-transform: uppercase;
    
    @media (min-width: @mobile) {
      padding-top: 6px;
      font-size: @base-font;
      line-height: @higher-line;
    }
    
  }
  
  &__text {
    color: @text-color;
    font-size: @base-font;
    line-height: @blog-line;
    font-weight: 400;
    
    @media (min-width: @mobile) {
      font-size: @title-font;
      line-height: @higher-line;
    }
    
  }
  
}

.blog-delimiter {
  height: 10px;
  width: 280px;
  margin: 0 auto;
  background: none;
  border-bottom: 1px solid @border-light-grey;
    
  @media (min-width: @mobile) {
    width: 80.645%;
    height: 22px;
    border-bottom: 2px dotted @border-light-grey;
  }

  @media (min-width: @tablet) {
    width: 85.417%;
    height: 25px;
  }
}



