.post-page-header {
  min-height: 195px;
  max-width: @desktop;
  margin: 0 auto;

  background-color: @dark-dark-grey;
  background-image: url("../img/background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/background-mobile@2x.jpg");
  }
  
  @media (min-resolution: 2.25dppx) {
    background-image: url("../img/background-mobile@3x.jpg");
  }
  
  @media (min-width: @mobile) {
    min-height: 376px;
    background-image: url("../img/background-tablet@1x.jpg");
    
    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/background-tablet@2x.jpg");
    }
  }
  
  @media (min-width: @tablet) {
    min-height: 394px;
    background-image: url("../img/background-fullsize.jpg");
    background-size: 100%;
  }
  
  @media (min-width: @desktop) {
    background: none;
  }
  
  &-wide-wrap {
    background: none;
    
    @media (min-width: @desktop) {
      background-color: @dark-dark-grey;
      background-image: url("../img/background-fullsize.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      
    }
  }
  
  &__text {
    width: 280px;
    margin: 0;
    .large-text;
    color: @light-text;
    padding-top: 32px;
    
    @media (min-width: @mobile) {
      width: 85.714%;
      padding-top: 70px;
      font-size: @w-large-font;
      line-height: @w-large-line;
    }
    
    @media (min-width: @fix-tablet) {
      font-size: @w-page-title-font;
      line-height: @w-page-title-line;
    }
    
    @media (min-width: @tablet) {
      width: 780px;
      padding-top: 63px;
    }
  }
  
}

.post-page-content-wrap {
  max-width: @desktop;
  margin: 0 auto;
  padding: 0;
  background-color: @light-fill;
}


.post {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;

  @media (min-width: @mobile) {
    width: 100%;
    margin-bottom: 47px;
  }
  
  @media (min-width: @tablet) {
    margin-bottom: 49px;
  }

  &__header {
    
    @media (min-width: @mobile) {
      position: relative;
    }
    
  }
  
  &__title {
    width: 270px;
    margin: 0 auto;
    padding: 0;
    padding-top: 34px;
    color: @text-color;
    font-size: @w-title-font;
    line-height: @w-title-line;
    font-weight: 700;
    text-align: center;
    
    @media (min-width: @mobile) {
      width: 74.196%;
      padding-top: 77px;
      font-size: @w-page-title-font;
      line-height: @w-page-title-line;
    }
    
    @media (min-width: @tablet) {
      width: 85.366%;
      padding-top: 98px;
    }
  }
  
  &-delimiter {
    height: 10px;
    width: 280px;
    margin: 0;
    background: none;
    border-bottom: 1px solid @border-light-grey;
    
    @media (min-width: @mobile) {
      width: 100%;
      height: 30px;
      border-bottom: 2px dotted @border-light-grey;
    }
    
  }
  
  &__date {
    width: 280px;
    margin: 0 auto;
    padding-top: 17px;
    color: @pink-color;
    font-size: @small-font;
    line-height: @blog-line;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
    @media (min-width: @mobile) {
      background-color: @light-fill;
      font-size: @base-font;
      line-height: @higher-line;
    }
    
    &-wrap {
      
      @media (min-width: @mobile) {
        position: absolute;
        width: 100%;
        padding: 0;
        left: 0;
        bottom: -45px;
      }
      
    }
  }
  
  &__preview-text {
    width: 270px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 13px;
    color: @text-color;
    font-size: @s-title-font;
    line-height: @blog-line;
    font-weight: 400;
    text-align: center;
    
    @media (min-width: @mobile) {
      width: 100%;
      padding-top: 25px;
      font-size: @large-font;
      line-height: @blog-title-line;
    }
    
    @media (min-width: @tablet) {
      width: 95.122%;
    }
    
  }
  
  &-paragraph__title {
    margin: 0;
    padding-top: 28px;
    color: @text-color;
    font-size: @title-font;
    line-height: @higher-line;
    font-weight: 700;
    text-transform: uppercase;
    
    @media (min-width: @mobile) {
      padding-top: 51px;
      font-size: @large-font;
    }
    
  }
  
  &-paragraph__text {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 2px;
    color: @text-color;
    font-size: @base-font;
    line-height: @blog-line;
    font-weight: 400;
    
    @media (min-width: @mobile) {
      padding-top: 22px;
      padding-bottom: 7px;
      font-size: @title-font;
      line-height: @higher-line;
    }
    
    & a {
      color: @pink-color;
      
      &:hover {
        color: @text-color;
      }
      
      &:active {
        color: @pink-light;
        text-decoration: none;
      }
    }
    
  }
  
  &-paragraph {
    
    & ul {
      margin: 0;
      padding-top: 5px;
      padding-left: 22px;
      list-style-type: none;
      
      @media (min-width: @mobile) {
        padding-top: 3px;
        padding-left: 36px;
        padding-bottom: 28px;
      }
    }
    
    & li {
      position: relative;
      padding-top: 20px;
      padding-bottom: 7px;
      font-size: @base-font;
      line-height: @blog-line;
      
      @media (min-width: @mobile) {
        padding-bottom: 10px;
        font-size: @title-font;
        line-height: @higher-line;
      }
      
      &::before {
        position: absolute;
        content: "";
        top: 31px;
        left: -22px;
        display: block;
        width:0;
        height:0;
        border: 3px solid @pink-color;
        border-radius:50%;
        
        @media (min-width: @mobile) {
          left: -36px;
          top: 34px;
        }
      }
    }
    
    & blockquote p {
      margin: 0;
    }
    
    & blockquote {
      margin: 0;
      padding: 0;
      padding-left: 22px;
      padding-right: 27px;
      margin-top: 25px;
      margin-bottom: 2px;
      font-size: @base-font;
      line-height: @blog-line;
      border-left: 2px solid @pink-color;
      
      @media (min-width: @mobile) {
        padding-left: 34px;
        margin-top: 23px;
        margin-bottom: 6px;
        font-size: @title-font;
        line-height: @higher-line;
      }
    }
    
    & cite {
      color: @cite-text;
      font-size: @base-font;
      line-height: @blog-line;
      font-style: italic;
      
      @media (min-width: @mobile) {
        font-size: @title-font;
        line-height: @higher-line;
      }
    }
    
  }
}

.blog-item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 14px;
  
  @media (min-width: @mobile) {
    width: 88.57%;
  }
  
  @media (min-width: @tablet) {
    width: 68.333%;
    margin-bottom: 0;
  }

  &__buttons {
    width: 100%;
    
    @media (min-width: @mobile) {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__btn {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: @text-color;
    background-color: @light-fill;
    font-size: @title-font;
    line-height: @higher-line;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 2px solid @border-light-grey;
    outline: none;
    
    @media (min-width: @mobile) {
      margin-bottom: 12px;
    }
    
    @media (min-width: @tablet) {
      margin-bottom: 6px;
    }

    &:hover {
     border-color: @dark-grey;
    }

    &:active {
      border-color: @pink-color;
    }
    
    &--return {
      width: 276px;
      
      @media (min-width: @mobile) {
        width: 47.742%;
        order: 2;
      }
      
      @media (min-width: @tablet) {
        width: 33.17%;
      }

    }
    
    &--prev {
      width: 126px;
      margin-right: 16px;
      
      @media (min-width: @mobile) {
        width: 21.935%;
        order: 1;
        margin-right: 0;
      }
      
      @media (min-width: @tablet) {
        width: 31.22%;
      }
    }
    
    &--next{
      width: 126px;
      
      @media (min-width: @mobile) {
        width: 21.935%;
        order: 3;
      }
      
      @media (min-width: @tablet) {
        width: 31.22%;
      }

    }
  }

}